@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
}

body{
    background-image: url(assets/background.png);
    background-repeat: repeat-y;
    background-color: #5956E9;
    background-size: 100%;

}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: white;
    margin: 10% 5%;
    border-radius: 3px;
    padding: 3px;
    height: 40px;
    box-shadow: 0px 1px 10px #0000001A;
}
nav div{
    display: flex;
    height: 150%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 10px #0000001A;

}
nav img{
    justify-self: center;
    height: 12px;
    
}

nav button{
    height: 100%;
    width: 76px;
    justify-self: right;
    justify-content: center;
    font-family: Josefin Sans;
    font-size: 10px;
    background-color: #5956E9;
    border-radius: 3px;
    border: 0px;
    color: white;
}
nav span{
    padding: 5px;
    justify-self: left;
}
.about-app{
    background-color: white;
}


.our-team{
    background-color: white;
}

footer{
    background-color: #232233;
}