@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #5956E9;
}
h6{
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
h5{
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
}
h4{
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25px;
    color: #232233;
}
p{
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6C6C72;

}
body{
    background-image: url(assets/background.png);
    background-repeat: repeat-y;
    background-color: #5956E9;
    background-size: 100%;
    font-family: Josefin Sans;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: white;
    margin: 10% 5%;
    border-radius: 3px;
    padding: 3px;
    height: 40px;
    box-shadow: 0px 1px 10px #0000001A;
}
nav div{
    display: flex;
    height: 150%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 10px #0000001A;

}
nav img{
    justify-self: center;
    height: 12px;
    
}
nav button{
    height: 100%;
    width: 76px;
    justify-self: right;
    justify-content: center;
    font-family: Josefin Sans;
    font-size: 10px;
    background-color: #5956E9;
    border-radius: 3px;
    border: 0px;
    color: white;
}
nav span{
    padding: 5px;
    justify-self: left;
}
main{
    margin-top: 6rem;
}
.phone-recent-transactions{
    display: flex;
    justify-content: right;
    margin-top: 2rem;
    margin-bottom: 8rem;
}
.box{
    display:grid;
    grid-template-columns: 20px 1fr;
    padding: 1rem;
}
.box div:first-of-type{
    position: relative;
    background-color: white;
    margin: 20px 0px;
    padding: 1rem 1rem;
    width: 78vw;
}
.box div:first-of-type *{
    margin: 1rem 0rem;
}
.box div:last-of-type{
    border: 10px solid #7572FF;
    box-sizing: border-box;
}
.box div:first-of-type h5{
    color:#5956E9;
}
.box div:first-of-type img{
    margin-bottom: 0px;
}
.about-app{
    background-color: white;
    padding: 60px 0px;
}
.about-app h5{
    justify-self: center;
}
.about-app >p:nth-of-type(1){
    margin: 2rem;
    justify-content: center;
    text-align: center;
    padding:6px;
}
.about-app img{
    display: flex;
    justify-self: center;
}
.about-app .card{
    display: grid;
    grid-template-columns: 40px 1fr;
    box-shadow: 0px 1px 10px #0000001A;
    margin: 2rem;
    border-radius: 10px;
    padding: 1rem;
    
}
.app-features *{
 color: white;
 text-align: center;
 margin: 1rem 0rem;
}
.mockup{
    border-radius: 40px;
    width: 214px;
}
.app-features{
    margin: 4rem;
    justify-content: center;
}
.app-features div{
    margin: 5rem 1rem;
}
.app-features img{
    display: flex;
    justify-self: center;
    margin: 2rem 0rem;
}

.our-team{
    background-color: white;
    text-align: center;
}
.our-team .title-section{
    padding: 4rem 3rem 1rem 3rem;
}
.our-team .card *{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.our-team .card{
    box-shadow: 0px 1px 10px #0000001A;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;   

}
.our-team .card img{
    border-radius: 50%;
    justify-self: center;
}
footer{
    background-color: #232233;
}