@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  font-family: Josefin Sans;
}
.svg-inline--fa {
  height: 1.5rem;
}
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  color: #5956e9;
}
h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
h5,
h2 {
  font-weight: 600;
  font-size: 25px;
  line-height: 37.5px;
}
h4 {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47.25px;
  color: #232233;
}
h2 {
  color: #5956e5;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c6c72;
}
body {
  background-image: url(assets/background.png);
  background-color: #5956e9;
  background-repeat: repeat-y;
  background-size: 100%;
}
.contact-info {
  display: none;
}
header {
  margin: 1rem 10%;
}

/* NAV BAR */
nav {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  padding: 3px;
  height: 40px;
  box-shadow: 0px 1px 10px #0000001a;
}
nav div {
  display: flex;
  height: 150%;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 10px #0000001a;
}
nav img {
  justify-self: center;
  height: 12px;
}
nav button {
  height: 100%;
  width: 76px;
  justify-self: right;
  justify-content: center;
  text-align: center;

  font-size: 10px;
  background-color: #5956e9;
  border-radius: 3px;
  border: 0px;
  color: white;
}
nav span {
  padding: 5px;
  justify-self: left;
}

.drawer{
  left: 1rem;
  width: 30%;
  height: 30%;
  background: #fff;
  box-shadow: -2px 0 12px rgba(0, 0, 0, 0.1);
  z-index: 2;
  padding: 20px 0;
  position: absolute;
  border-radius: 10px;
  opacity: 0;
}
.drawer-nav{
  box-shadow:none;
}
.drawer.open{
  margin: 1rem 2rem;
  opacity: 100%;
}
.closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #4a43d4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

/* Nav links inside drawer */
.drawer-nav {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
  align-items: flex-start;
  height: auto;
  position: absolute;
}

.drawer-nav a {
  display: block;
  margin: 1rem 0rem;
  color: #232233;
  text-decoration: none;
}

.drawer-nav a:hover {
  text-decoration:underline;
  color:#5956e5;

}

/* MAIN */
main {
  margin-top: 6rem;
}

/* MAIN-PAGE */
.main-page {
  margin-bottom: 8rem;
}
.phone-recent-transactions {
  display: flex;
  justify-content: right;
  margin: 4rem 0rem;
}
.phone-recent-transactions img {
  width: 75%;
}

.box {
  --b: 10px; /* border thickness*/
  --o: 20px, -20px; /* offset*/
  --border-color: #7572ff;
  --bg-color: #5956e5;

  width: 80%;
  height: auto;
  display: flex;
  justify-self: center;
  transform: translateX(-10px);
  margin: 10px;
  position: relative;
  z-index: 0;
}

.box:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100% + 20px);
  clip-path: polygon(
    var(--c) 0%,
    calc(100% - var(--c)) 0%,
    100% var(--c),
    100% calc(100% - var(--c)),
    calc(100% - var(--c)) 100%,
    var(--c) 100%,
    0% calc(100% - var(--c)),
    0% var(--c)
  );
  background: var(--bg-color);
  border: var(--b) solid var(--border-color);
  transform: translate(var(--o));
}
.box div {
  position: relative;
  background-color: white;
  padding: 1rem 1rem;
}
.box div * {
  margin: 1rem 0rem 0rem 0rem;
}
.box div h5 {
  color: #5956e9;
}
.box div img {
  margin: 0px;
  width: calc(14rem + 10%);
}
.box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ABOUT APP */
.about-app {
  background-color: white;
  padding: 60px 0px;
}
.about-app h5 {
  justify-self: center;
}
.about-app .title-section p {
  margin: 2rem;
  justify-content: center;
  text-align: center;
  padding: 6px;
}
.about-app img {
  display: flex;
  justify-self: center;
}
.about-app .card {
  display: grid;
  grid-template-columns: 40px 1fr;
  box-shadow: 0px 1px 10px #0000001a;
  margin: 2rem;
  border-radius: 10px;
  padding: 1rem;
}
.wide-screen-text {
  display: none;
}

/* APP FEATURES */
  .app-features * {
    color: white;
    text-align: center;
    margin: 1rem 0rem;
  }
  .mockup {
    border-radius: 40px;
    width: 214px;
  }
  .app-features {
    margin: 4rem;
    justify-content: center;
  }
  .app-features div {
    margin: 5rem 1rem;
  }
  .app-features img {
    display: flex;
    justify-self: center;
    margin: 2rem 0rem;
}

/* OUR TEAM */
.our-team {
  background-color: white;
  text-align: center;
}
.our-team .title-section {
  padding: 4rem 3rem 1rem 3rem;
}

.our-team .card *{
  display: flex;
  justify-content: center;
}
.our-team .card *:not(.social-media) {
  padding: 1rem;
}
.our-team .card {
  box-shadow: 0px 1px 10px #0000001a;
  margin: 1rem 1rem 0rem 1rem;
  border-radius: 10px;
  padding: 1rem;
  font-weight: 300;
}
.our-team .card img {
  border-radius: 50%;
  justify-self: center;
  outline: 4px solid #5956e5;
  outline-offset: -0.7rem;
}
.our-team {
  padding-bottom: 15rem;
}
.social-media *{
  padding: 1rem calc(0.1rem + 1px) ;
  border-right: 1px solid #000000;
}
.social-media *:last-child{
  border-right: none;
}

/* FOOTER */
footer {
  background-color: #232233;
  padding: 0rem 1rem;
}
footer .card {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  position: absolute;
  justify-self: center;
  align-self: anchor-center;
  box-shadow: 0px 1px 10px #0000003d;
}
footer .card * {
  margin: 0.5rem 0.2rem;
}
footer .card div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .card img {
  width: 50px;
}
footer .card hr {
  width: 100px;
  height: 1px;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 5%;
}
footer .footer-content * {
  color: rgb(255, 255, 255);
}
footer .footer-content div * {
  margin: 0rem 0rem 2rem 0rem;
}
footer div .social-media {
  display: flex;
  justify-content: left;
  margin-right: 4rem;
 
}
footer div .social-media * {
  margin: 1rem;
  justify-self: center;
  border-color: white;
  
}
footer .logo {
  padding-top: 15rem;
}
.quick-link ul {
  display: block;
  margin-block-start: 0rem;
  padding-inline-start: 0rem;
  list-style-type: none;
}
footer form {
  background-color: white;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 85% 15%;
}
footer form input {
  border: 0px;
  height: 50px;
  border-radius: 4px;
  margin: 0px;
}
.newsletter {
  margin-bottom: 0px !important;
}
.newsletter form * {
  margin: 0 !important;
}
input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c6c72;
  padding: 4%;
}
.newsletter form button {
  background-color: #5956e9;
  border: 0px;
  height: 90%;
  border-radius: 4px;
  margin: 0% 4% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-right: 2%;
}
.newsletter form * {
  display: grid;
  grid-template-columns: 1fr 0fr;
  align-items: center;
}
.newsletter form input {
  color: #000000;
  margin-left: 1rem !important;
}
aside {
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-self: center;
}
aside p {
  align-self: center;

  font-weight: 300;
  font-size: 12.8px;
  color: white;
}

@media (min-width: 768px) {
  /* FONT FORMATTING */
  h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
  h5 {
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25px;
    color: #232233;
  }
  h4 {
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25px;
    color: #232233;
  }
  h2 {
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25px;
    color: #5956e5;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6c6c72;
  }
  /* HEADER */
  header {
    margin: 1rem 3rem;
  }
  /* CONTACT INFO*/
  .contact-info {
    display: grid;
    grid-template-columns: 70% 30%;
    color: white;
  }
  .contact-info * {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .left-column-contact-info {
    display: flex;
    margin-bottom: 1rem;
  }
  .left-column-contact-info * {
    margin-right: 0.5rem;
  }
  .left-column-contact-info .email {
    display: flex;
    align-items: center;
  }
  .left-column-contact-info .phone {
    display: flex;
    align-items: center;
  }
  .right-column-contact-info {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .right-column-contact-info * {
    margin-left: 1rem;
  }

  /* NAV BAR*/
  nav {
    height: 60px;
  }
  nav div {
    height: calc(100% + 30px);
    width: 80%;
    justify-self: center;
  }
  nav img {
    justify-self: center;
    height: 25%;
  }
  nav button {
    height: 100%;
    width: 50%;
    font-size: 1rem;
  }
  nav span {
    padding: 5px;
    justify-self: left;
  }

  /* MAIN PAGE*/
  .main-page {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
  }
  .phone-recent-transactions {
    display: block;
    margin: 0;
  }
  .phone-recent-transactions img {
    width: 100%;
  }
  .box {
    --b: 18px; /* border thickness*/
    --o: 36px, -36px; /* offset*/
    --border-color: #7572ff;
    --bg-color: #5956e5;

    width: 75%;
    display: flex;
    justify-self: center;
    transform: translateX(-18px);
    position: relative;
    z-index: 0;
    margin: 5%;
  }
  .box:after {
    content: "";
    height: calc(100% + 36px);
    background: var(--bg-color);
    border: var(--b) solid var(--border-color);
    transform: translate(var(--o));
  }

  /* ABOUT APP */
  .about-app .content {
    display: flex;
    justify-content: center;
  }
  .about-app .content .cards {
    display: block;
  }
  .about-app img {
    margin-left: 2rem;
  }

  /* APP FEATURES*/
  .app-feature-items {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "a a a"
      "b c d"
      "e c f"
      "g g g";
    grid-template-rows: auto 1fr 1fr auto;
    
  }
    /* APP FEATURES GRID AREAS */
  .app-feature-items .grid-area-a {
    grid-area: a;
    margin: 0% 33%;
    align-self: flex-end;
  }
  .app-feature-items .grid-area-b {
    grid-area: b;
    * {
      justify-self: right;
      text-align: right;
    }
  }
  .app-feature-items .mockup {
    grid-area: c;
    width: 100%;
  }
  .app-feature-items .grid-area-e {
    grid-area: e;
    * {
      justify-self: right;
      text-align: right;
    }
  }
  .app-feature-items .grid-area-d {
    grid-area: d;
    * {
      justify-self: left;
      text-align: left;
    }
  }
  .app-feature-items .grid-area-f {
    grid-area: f;
    * {
      justify-self: left;
      text-align: left;
    }
  }
  .app-feature-items .grid-area-g {
    grid-area: g;
    margin: 0% 33%;
  }
  .app-features div {
    margin: 0px;
  }

  /* OUR TEAM CARDS */
  .our-team .cards {
    display: flex;
    flex-direction: row;
  }
  .our-team .card {
    padding: 1rem 0rem;
    margin: 0.7rem 0.7rem 0rem 0.7rem;
  }
  .our-team .card h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6c6c72;
  }
  .our-team .card h4 {
   font-size: 25px;
  }
  .our-team .card img {
    width: 70%;
  }

  /* FOOTER */
  footer .card {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    align-items: center;
    justify-content: center;
    padding: 3%;
  }
  footer .card div {
    display: flex;
    flex-direction: row;
  }
  footer .card .email {
    align-content: left;
  }
  footer .card .phone {
    align-content: left;
  }
  footer .card h6 {
    font-size: 16px;
    text-transform: lowercase;
    font-weight: 400;
    line-height: 24px;
  }
  footer .card hr {
    padding: 0rem;
    height: 100px;
    width: 1px;
  }
  footer .card * {
    padding: 0.5rem;
    margin: 0px;
  }
  .main-footer-content .logo {
    padding: 0;
  }
  .main-footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10rem;
  }
  .main-footer-content .social-media * {
    margin: 0.5rem;
  }
  .main-footer-content .newsletter form {
    grid-template-columns: 75% 25%;
  }
}
@media (min-width: 992px) {
  /* FONT FORMATTING*/
  h6 {
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
  }
  h5 {
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25%;
  }
  h4 {
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25px;
    color: #232233;
  }
  h2 {
    font-weight: 700;
    font-size: 48.83px;
    line-height: 130%;
    color: #5956e5;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6c6c72;
  }
  /* NAV BAR */
  nav div {
    width: 50%;
  }
  nav button {
    width: 30%;
  }
  /* MAIN PAGE */
  .phone-recent-transactions img {
    width: 100%;
    margin: 0px;
  }
  .phone-recent-transactions {
    margin: 0px;
  }
  main {
    margin-top: 0px;
  }
  .box {
    margin: 5% 10%;
  }
  .box div {
    padding: 2rem;
  }
  /* ABOUT APP */
  .about-app {
    padding: 10% 5%;
  }
  .about-app .content img{
    height: 100%;
  }
  .wide-screen-text {
    display: block;
  }
  .narrow-screen-text {
    display: none;
  }
  .our-team .card img{
    width: 50%;
  }
  .our-team .card{
    margin: 1.5rem;
  }
  .our-team .cards {
    margin: 1.5rem;
  }
}
